.container
  = form_for @profile, method: :patch do |f|
    - if @profile.errors.any?
      #error_explanation
        %h2= "#{pluralize(@profile.errors.count, "error")} #{t('create_failed',class: "profile")}"
        %ul
          - @profile.errors.full_messages.each do |message|
            %li= message
    .row.justify-content-center
      .col-auto
        = f.label :Name
      .col-auto
        .field
          = f.text_field :first_name
      .col-auto
        .field
          = f.text_field :surname
    .row.justify-content-center
      .col-auto
        .field
          = f.label :dob
          = f.date_select :dob, :start_year=>1940
    .row.justify-content-center
      .col-auto
        .field
          = f.label :bio
          = f.text_area :bio
    .row.justify-content-center
      .col-auto
        .actions
          = f.submit t('.save'), class: "btn btn-secondary"
