%p#notice= notice

%p
  %b First name:
  = @profile.first_name
%p
  %b Surname:
  = @profile.surname
%p
  %b Dob:
  = @profile.dob
%p
  %b Bio:
  = @profile.bio
%p
  %b Picture url:
  = @profile.picture_url

= link_to 'Edit', edit_profile_path(@profile)
\|
= link_to 'Back', profiles_path
