%div.row{'id' => 'comment' + comment.id.to_s}
  %div.col-auto
    -if comment.profile.picture_url
      %image{'source' => @post.profile.image_url}
    -else
      = image_tag('defaultProfile.png')
  %div.col
    %div.container
      %div.row
        = comment.profile.first_name
        = comment.profile.surname
      %div.row{'id' => "commentText#{comment.id}"}
        = comment.comment_text
  -if comment.profile == current_user.profile
    %div.col
      %div.btn-group{'role' => 'group'}
        %button{'class' => 'btn btn-secondary', 'onclick' => "commentEdit(this,#{comment.id});"} Edit
        =button_to 'Update', comment, method: :put,remote: true, params: {comment: {comment_text: comment.id}}, class: 'btn btn-secondary', id: "commentUpdate", commentID: comment.id
        =button_to 'Delete', comment, method: :delete, remote: true, data: { confirm: 'Are you sure?' }, class: "btn btn-secondary"
