%p#notice= notice

%p
  %b Post:
  = @comment.post
%p
  %b Profile:
  = @comment.profile
%p
  %b Comment text:
  = @comment.comment_text

= link_to 'Edit', edit_comment_path(@comment)
\|
= link_to 'Back', comments_path
