.container-fluid.bg-primary
  %nav.navbar.navbar-expand-lg.navbar-light.bg-primary
    %a.navbar-brand{:href => root_path}
      %p.navTitle
        = t('app_title')
    #navbarSupportedContent.collapse.navbar-collapse
      %ul.navbar-nav.mr-auto
        %li.nav-item.active
          %a.nav-link.text-white{:href => posts_path}
            = t('postsNav')
        %li.nav-item
          %a.nav-link.text-white{:href => profiles_path}
            =t('profilesNav')
        -if user_signed_in?
          -if Profile.where(user: current_user).size() == 1
            %li.nav-item
              %a.nav-link.text-white{:href => profile_path(current_user.profile)}
                = current_user.profile.first_name
                = current_user.profile.surname
          %li.nav-item
            %a.nav-link.text-white{:href => edit_user_registration_path}
              = t('account_settings')
          %li.nav-item
            %a.nav-link.text-white{:href => destroy_user_session_path, 'data-method' => 'delete'}
              = t('logout')
        -else
          %li.nav-item
            %a.nav-link.text-white{:href => new_user_session_path}
              = t('login')
          %li.nav-item
            %a.nav-link.text-white{:href => new_user_registration_path}
              = t('sign_up')
      %form.form-inline.my-2.my-lg-0{action: posts_path}
        %input.form-control.mr-sm-2{"aria-label" => "Search", :placeholder => "Search", :type => "search", :name => "query"}/
        %button.btn.btn-outline-light.my-2.my-sm-0{:type => "submit"} Search
  %p.app_description= t('app_description')
  - flash.each do |key, value|
    = content_tag :div, content_tag(:p, value), id: "#{key}" unless value.blank?
