.container
  .row
    = form_for post do |f|
      - if post.errors.any?
        #error_explanation
          %h2= "#{pluralize(post.errors.count, "error")} #{t('create_failed',class: "post")}"
          %ul
            - @post.errors.full_messages.each do |message|
              %li= message
      .field
        = f.label :title
        = f.text_field :title
      .field
        = f.text_area :post_text, class: "textarea"
      .actions
        = f.submit t('.create_post')
