%p#notice= notice
.container{'id' => "postContainer#{post.id}"}
  .row
    .col-auto
      -# if there is a profile picture display that, otherwise use default profile picture
      -if post.profile.picture_url
        = image_tag(post.profile.picture_url)
      -else
        = image_tag('defaultProfile.png')
    .col-auto
      = post.profile.first_name
      = post.profile.surname
    .col-auto
      .btn-group{'role' => 'group'}
        -# if post belongs to user allow them to edit or delete
        -if current_user.profile == post.profile
          = button_to t('.edit'), edit_post_path(post), method: :get, class: "btn btn-secondary"
          -#if comment_depth is 0 this means the show route is being used
          -#if comment_depth is greater than 0 then either the create or index route is being used
          -#if in the create/index route delete via ajax otherwise delete by html
          -if comment_depth > 0
            = button_to t('.delete'), post, method: :delete, remote: true, data: { confirm: t('confirm') }, class: "btn btn-secondary"
          -else
            = button_to t('.delete'), post, method: :delete, data: { confirm: t('confirm') }, class: "btn btn-secondary"
  .row
    %h
      = post.title
  .row
    %p
      = post.post_text
    -if post.image_url
      %image{'source' => post.image_url}
  = render 'posts/postComments', post: post, comment_depth: comment_depth
