%p#notice= notice

%p
  %b Profile:
  = @post.profile
%p
  %b Title:
  = @post.title
%p
  %b Post text:
  = @post.post_text
%p
  %b Image url:
  = @post.image_url

= link_to 'Edit', edit_post_path(@post)
\|
= link_to 'Back', posts_path
